@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #F7F7F7;
}

nav {
    background-color: #3B5998;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

h1 {
    color: #3B5998;
}

.small-employee-picture {
    width: 200px;  /* smaller width for the reporting chain */
    height: auto;
    border-radius: 4px;
}

.small-employee-picture-container {
    width: 120px;
    height: 120px;
    border-radius: 4px;
    background-size: 160% auto; /* Increase the size to zoom in */
    background-position: center top;
    display: inline-block;
}

.small-employee-picture-container img {
    display: none; /* Hide the actual img element */
}

.employee-profile {
    display: flex;
    align-items: start;
    gap: 20px; /* Adjust the space between image and info box */
    margin-bottom: 20px;
}

.employee-picture {
    width: 500px; /* Adjust size as needed */
    height: auto;
    border-radius: 8px;
}

.employee-info {
    background-color: #f2f2f2; /* Light grey background for the info box */
    padding: 10px;
    border-radius: 8px;
    flex-grow: 1;
}

.relation-section {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.relation-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}


.relation-section ul {
    display: flex; /* Use flexbox for the container */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    padding: 0; /* Reset padding */
    list-style-type: none; /* Remove bullet points */
}

.relation-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px; /* Spacing between items */
    margin-bottom: 10px; /* Spacing between rows when they wrap */
}
