<div class="comment-container">
    <a href="{{ url_for('view_employee', id=comment.author.id) }}">
        <img src="{{ comment.author.picture_url }}" alt="{{ comment.author.name }}">
    </a>
    <div class="comment-content">
        <p class="comment-header">
            <a href="{{ url_for('view_employee', id=comment.author.id) }}">{{ comment.author.name }}</a> - 
            <strong>{{ comment.author.department }} -</strong> 
            <em>{{ comment.author.title }} (#{{ comment.author.id }})</em> 
            to 
            <a href="{{ url_for('view_employee', id=comment.employee.id) }}">{{ comment.employee.name }}</a>
            <em> (#{{ comment.employee.id }})</em>
        </p>
        <p class="comment-timestamp">{{ comment.timestamp.strftime('%B %d, %Y at %I:%M %p') }}</p>
        <p class="comment-text">{{ comment.content|nl2br }}</p>
    </div>
</div>