<!DOCTYPE html>
<html>
<head>
    <title>XP Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='leaderboard.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='resources/ourteam_icon.ico') }}">    
</head>
<body>
    {% include 'navbar.html' %}
    <h1>XP Leaderboard</h1>
    <input type="number" id="refreshTime" min="5" value="30">
    <button onclick="updateRefreshTime()">Update Refresh Time</button>
    <table class="leaderboard">
        <tr>
            <th>Position</th>
            <th>Employee</th>
            <th>XP</th>
            <th>Movement</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('view_employee', id=employee.employee.id) }}">{{ employee.employee.name }}</a></td>
            <td>{{ employee.xp }}</td>
            <td> - </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>