<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='qa.css') }}">
<div class="navbar">
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('list_employees') }}">View Employee List</a></li>
        <li><a href="{{ url_for('add_employee') }}">Create New Employee</a></li>
        <li><a href="{{ url_for('recent_actions') }}">Recent Actions</a></li>
        <li><a href="{{ url_for('manage_groups') }}">Manage Groups</a></li>
        <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
        <li><a href="{{ url_for('comment') }}">Test Comment</a></li>
        <li><a href="{{ url_for('view_all_statuses') }}">All Statuses</a></li>
        <li>
            <form action="/search" method="get" style="display: inline-block; vertical-align: middle; float: right;">
                <input type="text" name="query" placeholder="Search employees...">
                <input type="submit" value="Search">
            </form>
        </li>
    </ul>
</nav>
</div>