<!DOCTYPE html>
<html>
<head>
    <title>Comment Form</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='test_comment.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="form-container">
        <form method="POST">
            <label for="from">From:</label><br>
            <input type="text" id="from" name="from"><br>
            <label for="to">To:</label><br>
            <input type="text" id="to" name="to"><br>
            <label for="comment">Comment:</label><br>
            <textarea id="comment" name="comment"></textarea><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    
    <!-- Comments Section -->
    <div class="comments-container">
        {% for comment in comments %}
        <div class="comment">
            <img src="{{ comment.from_employee.picture_url }}" alt="From Employee">
            <div class="comment-content">
                <div class="comment-header"><a href="{{ url_for('view_employee', id=comment.from_employee.id) }}">{{ comment.from_employee.name }}</a> #{{comment.from_employee.id}} to <a href="{{ url_for('view_employee', id=comment.to_employee.id) }}">{{ comment.to_employee.name }}</a> #{{comment.to_employee.id}}</div>
                <div class="comment-body">{{ comment.content }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
