<!DOCTYPE html>
<html>
<head>
    <title>Comment Form</title>
</head>
<body>
    {% include 'navbar.html' %}
    <form method="POST">
        <label for="from">From:</label><br>
        <input type="text" id="from" name="from"><br>
        <label for="to">To:</label><br>
        <input type="text" id="to" name="to"><br>
        <label for="comment">Comment:</label><br>
        <textarea id="comment" name="comment"></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>