<!DOCTYPE html>
<html>
<head>
<head>
    <title>Test Comment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='resources/ourteam_icon.ico') }}">    
</head>
</head>
<body>
    {% include 'navbar.html' %}
    <form method="POST">
        <label for="from">From:</label><br>
        <input type="text" id="from" name="from"><br>
        <label for="to">To:</label><br>
        <input type="text" id="to" name="to"><br>
        <label for="comment">Comment:</label><br>
        <textarea id="comment" name="comment"></textarea><br>
        <input type="submit" value="Submit">
    </form>

    {% if comment %}
    <div>
        <h2>Comment</h2>
        <p>From: {{ comment.from_employee.name }}</p>
        <img src="{{ comment.from_employee.picture }}" alt="{{ comment.from_employee.name }}">
        <p>To: {{ comment.to_employee.name }}</p>
        <img src="{{ comment.to_employee.picture }}" alt="{{ comment.to_employee.name }}">
        <p>Comment: {{ comment.text }}</p>
    </div>
    {% endif %}
</body>
</html>