<!DOCTYPE html>
<html>
<head>
    <title>{{ employee.name }} - @{{employee.email}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='comment.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='resources/ourteam_icon.ico') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>{{ employee.name }}</h1>
    <h2>@{{ employee.email }} - #{{ employee.id }}</h2>


    <div class="employee-profile">
        <div class="fade-in">
            {% if employee.picture_url %}
                <img src="{{ employee.picture_url }}" alt="Picture of {{ employee.name }}" class="employee-picture">
            {% else %}
                <p>No picture available.</p>
            {% endif %}
        </div>
        <div class="employee-info">
            <p><strong>Name:</strong> {{ employee.name }}</p>
            <p><strong>Title:</strong> {{ employee.title }}</p>
            <p><strong>Department:</strong>     <a href="{{ url_for('list_employees_by_department', department_name=employee.department) }}">
                {{ employee.department }}
            </a></p>
            <p><strong>Phone:</strong> {{ employee.phone or 'N/A' }}</p>
            <p><strong>XP:</strong> {{ employee_xp.xp }}</p>
            <p><strong>Level:</strong> {{ employee_xp.level }}</p>
            <h2>Recent Actions</h2>
            <ul>
            {% for action in recent_actions %}
                <li>{{ action.timestamp }}</li>
                <p>{{ action.description|truncate(50, True) }}</p>
            {% endfor %}
            </ul>
        </div>
    </div>


    {% if manager_chain %}
    <div class="relation-section">
        <h2>Management Chain</h2>
        {% for manager in manager_chain %}
            <div class="relation-item">
                <div class="small-employee-picture-container fade-in" style="background-image: url('{{ manager.picture_url }}');"></div>
                <div class="info-section">
                    <div class="name-section">
                        <a href="{{ url_for('view_employee', id=manager.id) }}">{{ manager.name }}</a>
                    </div>
                    <div class="title-section">
                        {{ manager.title }}
                    </div>
                    <div class="department-section">
                        {{ manager.department }}
                    </div>
                    <div class="id-section">
                        #{{ manager.id }}
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>This employee does not report to anyone.</p>
{% endif %}

{% if co_manager %}
<div class="relation-section">
    <h2>Co-Manager</h2>
    <div class="relation-item">
        <div class="small-employee-picture-container fade-in" style="background-image: url('{{ co_manager.picture_url }}');"></div>
        <div class="info-section">
            <div class="name-section">
                <a href="{{ url_for('view_employee', id=co_manager.id) }}">{{ co_manager.name }}</a>
            </div>
            <div class="title-section">
                {{ co_manager.title }}
            </div>
            <div class="department-section">
                {{ co_manager.department }}
            </div>
            <div class="id-section">
                #{{ co_manager.id }}
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="relation-section">
        <div class="relation-item">
            <div class="small-employee-picture-container fade-in" style="background-image: url('{{ employee.picture_url }}');"></div>
            <div class="info-section">
                <div class="name-section">
                    <a href="{{ url_for('view_employee', id=employee.id) }}">{{ employee.name }}</a>
                </div>
                <div class="title-section">
                    {{ employee.title }}
                </div>
                <div class="department-section">
                    {{ employee.department }}
                </div>
                <div class="id-section">
                    #{{ employee.id }}
                </div>
            </div>
        </div>
</div>

<div class="relation-section">
    <h2>Direct Reports</h2>
    {% if subordinates %}
        <ul>
            {% for subordinate in subordinates %}
            <li class="relation-item">
                <div class="small-employee-picture-container fade-in" style="background-image: url('{{ subordinate.picture_url }}');"></div>
                <div class="info-section">
                    <div class="name-section">
                        <a href="{{ url_for('view_employee', id=subordinate.id) }}">{{ subordinate.name }}</a>
                    </div>
                    <div class="title-section">
                        {{ subordinate.title }}
                    </div>
                    <div class="department-section">
                        {{ subordinate.department }}
                    </div>
                    <div class="id-section">
                        #{{ subordinate.id }}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ employee.name }} does not have any direct reports.</p>
    {% endif %}
</div>

<!-- only show this section if there are images to show-->
{% if images %}
<h1>Gallery</h1>
<div class="gallery">
    <div id="image-container" style="max-width: 500px; max-height: 500px; overflow: hidden;">
        {% for image in images %}
        <img class="employee-image" src="{{ image.image_url }}" alt="Employee image" style="display: none; width: 100%; height: auto;">
        {% endfor %}
    </div>
{% endif %}
    
    <script>
        let images = document.querySelectorAll('.employee-image');
        let currentImageIndex = 0;
    
        function showNextImage() {
            images[currentImageIndex].style.display = 'none';
            currentImageIndex = (currentImageIndex + 1) % images.length;
            images[currentImageIndex].style.display = 'block';
        }
    
        images[0].style.display = 'block';  // Show the first image initially
        setInterval(showNextImage, 5000);  // Change the image every 5 seconds
    </script>
</div>

<h1>Wall</h1>
<div class="wall">
{% for comment in comments.items %}
    {% include 'comment.html' %}
{% endfor %}
</div>

<!-- Pagination Links -->
<div class="pagination">
    {% if comments.has_prev %}
        <a href="{{ url_for('view_employee', id=employee.id, comments_page=comments.prev_num) }}">Previous</a>
    {% endif %}
    {% if comments.has_next %}
        <a href="{{ url_for('view_employee', id=employee.id, comments_page=comments.next_num) }}">Next</a>
    {% endif %}
</div>

<h1>Post a Comment</h1>
<form id="comment-form" action="{{ url_for('add_comment', id=employee.id) }}" method="post">
    <input type="number" name="author_id" placeholder="Author ID" required>
    <div class="comment-poster">
        <textarea name="content" required></textarea>
    </div>
    <input type="submit" value="Post Comment">
</form>
<br/>

<a class="button" href="{{ url_for('add_image', id=employee.id) }}">Add Image</a>
<a class="button" href="{{ url_for('edit_employee', id=employee.id) }}">Edit this employee</a>
<a class="button" href="{{ url_for('list_employees') }}">Back to employee list</a>
</body>

<h2>Groups</h2>
<ul>
    {% for group in employee.groups %}
        <li>
            <a href="{{ url_for('view_group', id=group.id) }}">{{ group.groupname }}</a>
        </li>
    {% endfor %}
    </ul>

<!-- Form to add the employee to a group -->
<h2>Add to Group</h2>
<form action="{{ url_for('add_to_group', id=employee.id) }}" method="post">
    <input type="text" name="groupname" placeholder="Group Name" required>
    <input type="submit" value="Add to Group">
</form>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</html>
